.gpa-config-card {
    .gpa-config-card-google-link {
        margin-bottom: 15px;
        font-size: 14px;
        margin-top: -17px;
    }

    .gpa-config-card-latitude-link {
        margin-top: -17px;
        font-size: 14px;;
    }
}